/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/10/2017, 04:06:48 PM
    Author     : Usuario
*/

.btnEstandar {
-fx-text-fill: black;
-fx-background-color:red;
}

.btnEstandar:hover {  
-fx-background-color:white  ;
}

.bbarra{       
    -fx-accent: red;    
}
.ttexto{
    -fx-font: 20px System;
    -fx-text-fill: #4CAF50;
    -fx-stroke: black;
    -fx-stroke-width: 1;    
    -fx-font-weight: bold;
}